@font-face {
    font-family: 'Rea-Regular';
    src: url('../fonts/Rea-Regular.otf') format('truetype');
}

body {
    background-color: #F7E1D7;
    color: #37302F;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Rea-Regular', sans-serif;
}

.portfolio-container {
    display: flex;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
}

.left-column {
    flex: 1;
    width: 50%;
    text-align: left;
}

.profile-header {
    margin-bottom: 1.5rem;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #C7D1C3;
}


.profile-header {
    margin-bottom: 1.5rem;
    position: relative;
}

.profile-pic {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.name {
    height: 150px;
    width: auto;
}

.left-column h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
    color: #2D3E3A;
    margin: 0;
}

.social-links {
    margin-bottom: 1.5rem;
}

.social-links a {
    margin-right: 10px;
}

.social-links img {
    width: 32px;
    height: 32px;
    transition: transform 0.2s ease;
}

.social-links img:hover {
    transform: scale(1.1);
}

.bio {
    font-size: 0.95rem;
    font-family: 'Rea-Regular', sans-serif;
    line-height: 1.6;
    color: #4A4A4A;
}

.small-github img {
    height: 25px;

}